*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color:#0F0F0F;
    font-family: 'Poppins', sans-serif;
}

.back{
    background-color: #111111 !important;
}
.links{
    color: white !important;
    
}

.logo{
    color: #F35503;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 3px;
}

.hire-me{
    padding: 7px 20px;
    font-weight: 600;
    font-size: 14px;
    background-color: #F35503;
    border: 0px;
    border-radius: 16px 16px 16px 2px;
}



.links:hover{
    text-decoration: underline;
    text-decoration-color: #F35503;


}

.links:active{
    color: #F35503 !important;
}
.color1{
    color: white;
    font-weight: 100;

}
.color2{
    color: #F35503;
    font-weight: 400;

}

.hr{
    color: #F35503;
    width:70px;
    height: 4px;
    background-color: #F35503;
    border-radius: 9px;
    opacity: 1;
}
.para1{
    font-size: 19px;
    font-weight: 100;
    color: grey;
}

.name{
    color: #F35503;
    font-weight: 600;
}
.about-cards{
    background-color: rgb(26, 25, 25);
    width:80%;
    border-radius: 20px;
    display: flex;

}

.child-cards{
    width: 33%;
    padding: 20px;
    border-right: 1px solid #323030;
    
}
.child-card{
    width: 33%;
    padding: 20px;

    
}