*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color:#0F0F0F;
    font-family: 'Poppins', sans-serif;
}

.back{
    background-color: #111111 !important;
}
.links{
    color: white !important;
    
}

.logo{
    color: #F35503;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 3px;
}

.hire-me{
    padding: 7px 20px;
    font-weight: 600;
    font-size: 14px;
    background-color: #F35503;
    border: 0px;
    border-radius: 36px 16px 26px 1px;
}



.links:hover{
    text-decoration: underline;
    text-decoration-color: #F35503;


}

.links:active{
    color: #F35503 !important;
}
.color1{
    color: white;
    font-weight: 100;

}
.color2{
    color: #F35503;
    font-weight: 400;

}

.hr{
    color: #F35503;
    width:70px;
    height: 4px;
    background-color: #F35503;
    border-radius: 9px;
    opacity: 1;
}
.para1{
    font-size: 19px;
    font-weight: 100;
    color: grey;
}

.name{
    color: #F35503;
    font-weight: 600;
}
.about-cards{
    background-color: rgb(26, 25, 25);
    width:80%;
    border-radius: 20px;
    display: flex;

}

.child-cards{
    width: 33%;
    padding: 20px;
    border-right: 1px solid #323030;
    
}
.child-card{
    width: 33%;
    padding: 20px;

    
}

.imm{
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.outer{
    width: 87%;

    height: 10px;
    border-radius: 30px;
    background-color: rgb(174, 174, 192);
    position: absolute;
    bottom:25px;
    left:80px;
}

.inner{
    width: 90%;

    height: 10px;
    border-radius: 30px;
    background-color:#F35503;

}
.inner-sql{
    width: 80%;

    height: 10px;
    border-radius: 30px;
    background-color:#F35503;
}
.inner-html{
    width: 95%;

    height: 10px;
    border-radius: 30px;
    background-color:#F35503;
}
.inner-css{
    width: 85%;

    height: 10px;
    border-radius: 30px;
    background-color:#F35503;

}
.inner-js{
    width: 80%;

    height: 10px;
    border-radius: 30px;
    background-color:#F35503;

}
.skills-sec{
    display: flex;
    position: relative;
    padding: 20px;
    width: 100%;

}

.ab1{
    color: white;
    font-size: 24px;
    position: absolute;
    left: 0px;
    top:-40px;
}

.ab2{
    color: white;
    font-size: 24px;
    position: absolute;
    right: 0px;
    top:-40px;

}

.other{
    padding: 100px;
    background-color: #323030;
}
.skills-card{
    background-color: #1c1b1b;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
}

.list{
    color: #717070;
    display: flex;
    flex-direction: column;
    gap:4px;
}

.skill-card{
    background-color: #1c1b1b;
    padding: 20px;
    border-radius: 20px;
    width: 60%;

}

.project-icon{
    font-size: 80px;
}

.proj-button{
    padding: 4px;
    color: #717070;
    background: none;
    border: 2px solid #717070;
    border-radius: 4px;
}

.project-back{
    display: flex;
    gap:10px;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 1px 1px 10px #F35503;
}